.App {
  text-align: left;
}

.App-header {
  background-color: #EEE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.App-link {
  color: #61dafb;
}

tr:nth-child(even){background-color:#EEE;}
tr:nth-child(odd){background-color:#FFF;}
